@font-face {
  font-family: 'radioshtani-icon';
  src:  url('../fonts/rsh-icon/rsh-icon.eot?dovbuc');
  src:  url('../fonts/rsh-icon/rsh-icon.eot?dovbuc#iefix') format('embedded-opentype'),
    url('../fonts/rsh-icon/rsh-icon.ttf?dovbuc') format('truetype'),
    url('../fonts/rsh-icon/rsh-icon.woff?dovbuc') format('woff'),
    url('../fonts/rsh-icon/rsh-icon.svg?dovbuc#radioshtani-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'radioshtani-icon' !important;
  speak: never;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e919";
}
.icon-vk:before {
  content: "\e918";
}
.icon-arrow-up-solid:before {
  content: "\e900";
}
.icon-arrow-down-solid:before {
  content: "\e901";
}
.icon-arrow-right-solid:before {
  content: "\e902";
}
.icon-arrow-left-solid:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-frequency:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-mute:before {
  content: "\e909";
}
.icon-next:before {
  content: "\e90a";
}
.icon-play:before {
  content: "\e90b";
}
.icon-prev:before {
  content: "\e90c";
}
.icon-camera1:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e90d";
}
.icon-exclamation-outline:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-playlist:before {
  content: "\e913";
}
.icon-stand-by:before {
  content: "\e916";
}
.icon-station:before {
  content: "\e914";
}
.icon-tuning:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e917";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk_1:before {
  content: "\ea98";
}
.icon-rss-1:before {
  content: "\ea9b";
}
.icon-rss-2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
